In [ ]:
import os
from typing import NoReturn, List, Optional
import psycopg2
from psycopg2.extensions import connection, cursor
from langchain_core.tools import tool
from dotenv import load_dotenv

load_dotenv()

In [ ]:

class PeqiiDatabaseManager:

    DATABASE_URL: str = os.getenv("DATABASE_URL")

    def __init__(self) -> None:
        self.conn: connection = psycopg2.connect(self.DATABASE_URL)
        self.cur: cursor = self.conn.cursor()

    def _close_connection(self) -> NoReturn:
        """
        Fecha a conexão com o banco de dados.
        """
        self.cur.close()
        self.conn.close()

    # @tool
    def execute_query(self, query_params: dict) -> Optional[List[tuple]]:
        """
        Executa uma consulta SQL no banco de dados.

        :param query_params: Dicionário onde a primeira chave-valor representa o nome da tabela e os demais representam os nomes das colunas e valores.
        :return: Lista de tuplas contendo os resultados da consulta ou None em caso de falha.
        """
        try:
            table_name = list(query_params.keys())[0]
            columns = list(query_params.keys())[1:]
            values = [query_params[col] for col in columns]

            query = f"SELECT * FROM {table_name} WHERE " + " AND ".join([f"{col} = %s" for col in columns])
            self.cur.execute(query, values)
            results = self.cur.fetchall()
            return results
        except Exception as e:
            print(f"Erro ao executar a consulta: {e}")
            return None
        finally:
            self._close_connection()

In [ ]:
query_params = {
    "table_name": "contacts"
}

db_manager = PeqiiDatabaseManager()
results = db_manager.execute_query(query_params)
print(results)

# Teste Toolkit LangChain

In [1]:
import sqlite3
import requests
from dotenv import load_dotenv
from langchain_community.utilities.sql_database import SQLDatabase
from sqlalchemy import create_engine
from sqlalchemy.pool import StaticPool


def get_engine_for_chinook_db():
    """Pull sql file, populate in-memory database, and create engine."""
    url = "https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql"
    response = requests.get(url)
    sql_script = response.text

    connection = sqlite3.connect(":memory:", check_same_thread=False)
    connection.executescript(sql_script)
    return create_engine(
        "sqlite://",
        creator=lambda: connection,
        poolclass=StaticPool,
        connect_args={"check_same_thread": False},
    )


engine = get_engine_for_chinook_db()

db = SQLDatabase(engine)

In [2]:
load_dotenv()

from langchain_openai import AzureChatOpenAI

llm = AzureChatOpenAI(model="gpt-4o")

In [3]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [4]:
toolkit.get_tools()

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x10ead7290>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x10ead7290>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x10ead7290>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x10ead7290>, llm=AzureChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x110b72e90>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x110722f50>, model_name='gpt-4o', openai_api_key=SecretStr('**********'), openai_proxy='', azure_endpoint='https://openai-cogmo-2.openai.azure.com', openai_api_version='2023-12-01-preview', openai_api_type='azure'), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=AzureChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x110b72e90>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x110722f50>, model_name='gpt-4o', openai_api_key=SecretStr('**********'), openai_proxy='', azure_endpoint='https://openai-cogmo-2.openai.azure.com', openai_api_version='2023-12-01-preview', openai_api_type='azure')))]

In [5]:
from langchain import hub

prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

/Users/morossini/anaconda3/envs/hub/lib/python3.11/site-packages/langchain/hub.py:86: DeprecationWarning: The `langchainhub sdk` is deprecated.
Please use the `langsmith sdk` instead:
  pip install langsmith
Use the `pull_prompt` method.
  res_dict = client.pull_repo(owner_repo_commit)

In [6]:
from pprint import pprint
pprint(prompt_template)

ChatPromptTemplate(input_variables=['dialect', 'top_k'], metadata={'lc_hub_owner': 'langchain-ai', 'lc_hub_repo': 'sql-agent-system-prompt', 'lc_hub_commit_hash': '31156d5fe3945188ee172151b086712d22b8c70f8f1c0505f5457594424ed352'}, messages=[SystemMessagePromptTemplate(prompt=PromptTemplate(input_variables=['dialect', 'top_k'], template='You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nTo start you should ALWAYS look at the tables in the database to see what you can query.\nDo NOT skip this step.\nThen you should query the schema of the most relevant tables.'))])

In [7]:
dir(prompt_template)

['Config',
 'InputType',
 'OutputType',
 '__abstractmethods__',
 '__add__',
 '__annotations__',
 '__class__',
 '__class_getitem__',
 '__class_vars__',
 '__config__',
 '__custom_root_type__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__exclude_fields__',
 '__fields__',
 '__fields_set__',
 '__format__',
 '__ge__',
 '__get_validators__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__include_fields__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__json_encoder__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__or__',
 '__orig_bases__',
 '__parameters__',
 '__post_root_validators__',
 '__pre_root_validators__',
 '__pretty__',
 '__private_attributes__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__repr_args__',
 '__repr_name__',
 '__repr_str__',
 '__rich_repr__',
 '__ror__',
 '__schema_cache__',
 '__setattr__',
 '__setstate__',
 '__signature__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__try_update_forward_refs__',
 '__validators__',
 '__weakref__',
 '_abatch_with_config',
 '_abc_impl',
 '_acall_with_config',
 '_aformat_prompt_with_error_handling',
 '_atransform_stream_with_config',
 '_batch_with_config',
 '_calculate_keys',
 '_call_with_config',
 '_copy_and_set_values',
 '_decompose_class',
 '_enforce_dict_if_root',
 '_format_prompt_with_error_handling',
 '_get_value',
 '_init_private_attributes',
 '_is_protocol',
 '_iter',
 '_merge_partial_and_user_variables',
 '_prompt_type',
 '_transform_stream_with_config',
 '_validate_input',
 'abatch',
 'abatch_as_completed',
 'aformat',
 'aformat_messages',
 'aformat_prompt',
 'ainvoke',
 'append',
 'as_tool',
 'assign',
 'astream',
 'astream_events',
 'astream_log',
 'atransform',
 'batch',
 'batch_as_completed',
 'bind',
 'config_schema',
 'config_specs',
 'configurable_alternatives',
 'configurable_fields',
 'construct',
 'copy',
 'dict',
 'extend',
 'format',
 'format_messages',
 'format_prompt',
 'from_messages',
 'from_orm',
 'from_role_strings',
 'from_strings',
 'from_template',
 'get_graph',
 'get_input_schema',
 'get_lc_namespace',
 'get_name',
 'get_output_schema',
 'get_prompts',
 'input_schema',
 'input_types',
 'input_variables',
 'invoke',
 'is_lc_serializable',
 'json',
 'lc_attributes',
 'lc_id',
 'lc_secrets',
 'map',
 'messages',
 'metadata',
 'name',
 'optional_variables',
 'output_parser',
 'output_schema',
 'parse_file',
 'parse_obj',
 'parse_raw',
 'partial',
 'partial_variables',
 'pick',
 'pipe',
 'pretty_print',
 'pretty_repr',
 'save',
 'schema',
 'schema_json',
 'stream',
 'tags',
 'to_json',
 'to_json_not_implemented',
 'transform',
 'update_forward_refs',
 'validate',
 'validate_input_variables',
 'validate_template',
 'validate_variable_names',
 'with_alisteners',
 'with_config',
 'with_fallbacks',
 'with_listeners',
 'with_retry',
 'with_types']

In [8]:
print(prompt_template.messages[0].prompt.template.replace('\\n', '\n'))

You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

To start you should ALWAYS look at the tables in the database to see what you can query.
Do NOT skip this step.
Then you should query the schema of the most relevant tables.

In [9]:
assert len(prompt_template.messages) == 1
print(prompt_template.input_variables)

['dialect', 'top_k']

In [10]:
system_message = prompt_template.format(dialect="SQLite", top_k=5)
print(system_message)

System: You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

To start you should ALWAYS look at the tables in the database to see what you can query.
Do NOT skip this step.
Then you should query the schema of the most relevant tables.

In [11]:
from langgraph.prebuilt import create_react_agent

agent_executor = create_react_agent(
    llm, toolkit.get_tools(), state_modifier=system_message
)

In [12]:
example_query = "Which country's customers spent the most?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Which country's customers spent the most?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_Y7Yryf2wff3H9liUKchiRaHy)
 Call ID: call_Y7Yryf2wff3H9liUKchiRaHy
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_AkZ5GRONn3Vw5y6SjM3qqMKp)
 Call ID: call_AkZ5GRONn3Vw5y6SjM3qqMKp
  Args:
    table_names: Customer, Invoice
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_JpDXYZopusMRYbZK47L287vv)
 Call ID: call_JpDXYZopusMRYbZK47L287vv
  Args:
    query: SELECT c.Country, SUM(i.Total) AS TotalSpent FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSpent DESC LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT c.Country, SUM(i.Total) AS TotalSpent
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.Country
ORDER BY TotalSpent DESC
LIMIT 1;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_3hqqbk2tFPyR9VrljuX4IOcQ)
 Call ID: call_3hqqbk2tFPyR9VrljuX4IOcQ
  Args:
    query: SELECT c.Country, SUM(i.Total) AS TotalSpent FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSpent DESC LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query

[('USA', 523.06)]
================================== Ai Message ==================================

The country whose customers spent the most is the USA, with a total spending of $523.06.

In [15]:
example_query = "What are the available tables?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

What are the available tables?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_pPQDp0nYo8dk9oG2PAjugsVO)
 Call ID: call_pPQDp0nYo8dk9oG2PAjugsVO
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================

The available tables in the database are:

1. Album
2. Artist
3. Customer
4. Employee
5. Genre
6. Invoice
7. InvoiceLine
8. MediaType
9. Playlist
10. PlaylistTrack
11. Track

Feel free to ask about any specific information you need from these tables!

In [16]:
example_query = "Who are the 3 top selling artists?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Who are the 3 top selling artists?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_FrNgCt0jbhKPuq5HsnXGuj46)
 Call ID: call_FrNgCt0jbhKPuq5HsnXGuj46
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_ELpLJ5NMJjIo9TtPnrtaQCEu)
 Call ID: call_ELpLJ5NMJjIo9TtPnrtaQCEu
  Args:
    table_names: Artist, InvoiceLine, Track, Album
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_cO2BKraNuKINkO1O9KG8c45T)
 Call ID: call_cO2BKraNuKINkO1O9KG8c45T
  Args:
    query: SELECT ar.Name, SUM(il.Quantity) AS TotalSales FROM InvoiceLine il JOIN Track t ON il.TrackId = t.TrackId JOIN Album al ON t.AlbumId = al.AlbumId JOIN Artist ar ON al.ArtistId = ar.ArtistId GROUP BY ar.Name ORDER BY TotalSales DESC LIMIT 3;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT ar.Name, SUM(il.Quantity) AS TotalSales
FROM InvoiceLine il
JOIN Track t ON il.TrackId = t.TrackId
JOIN Album al ON t.AlbumId = al.AlbumId
JOIN Artist ar ON al.ArtistId = ar.ArtistId
GROUP BY ar.Name
ORDER BY TotalSales DESC
LIMIT 3;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_FQwe9P831h6vZ6t3W7mBLWgm)
 Call ID: call_FQwe9P831h6vZ6t3W7mBLWgm
  Args:
    query: SELECT ar.Name, SUM(il.Quantity) AS TotalSales FROM InvoiceLine il JOIN Track t ON il.TrackId = t.TrackId JOIN Album al ON t.AlbumId = al.AlbumId JOIN Artist ar ON al.ArtistId = ar.ArtistId GROUP BY ar.Name ORDER BY TotalSales DESC LIMIT 3;
================================= Tool Message =================================
Name: sql_db_query

[('Iron Maiden', 140), ('U2', 107), ('Metallica', 91)]
================================== Ai Message ==================================

The top 3 selling artists are:

1. Iron Maiden with 140 total sales.
2. U2 with 107 total sales.
3. Metallica with 91 total sales.

In [17]:
example_query = "What are the 3 most popular genres?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

What are the 3 most popular genres?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_3kGbTfRr4qB8dfrMkuU3XjIC)
 Call ID: call_3kGbTfRr4qB8dfrMkuU3XjIC
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_L0mJi2NYD42kvIPAFNCGyh9w)
 Call ID: call_L0mJi2NYD42kvIPAFNCGyh9w
  Args:
    table_names: Genre,Track
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_rdcSiOs8tdfYOZri5MsFyhlb)
 Call ID: call_rdcSiOs8tdfYOZri5MsFyhlb
  Args:
    query: SELECT g.Name, COUNT(t.TrackId) as TrackCount FROM Track t JOIN Genre g ON t.GenreId = g.GenreId GROUP BY g.Name ORDER BY TrackCount DESC LIMIT 3;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT g.Name, COUNT(t.TrackId) as TrackCount
FROM Track t
JOIN Genre g ON t.GenreId = g.GenreId
GROUP BY g.Name
ORDER BY TrackCount DESC
LIMIT 3;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_ddQxuqAYBIckWUsF18Pmv3Ht)
 Call ID: call_ddQxuqAYBIckWUsF18Pmv3Ht
  Args:
    query: SELECT g.Name, COUNT(t.TrackId) as TrackCount FROM Track t JOIN Genre g ON t.GenreId = g.GenreId GROUP BY g.Name ORDER BY TrackCount DESC LIMIT 3;
================================= Tool Message =================================
Name: sql_db_query

[('Rock', 1297), ('Latin', 579), ('Metal', 374)]
================================== Ai Message ==================================

The 3 most popular genres based on the number of tracks are:

1. **Rock** with 1297 tracks
2. **Latin** with 579 tracks
3. **Metal** with 374 tracks

In [18]:
example_query = "What are the 10 most popular albums?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

What are the 10 most popular albums?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_15FFX2ZhIs1tCwLZyJZmaPN7)
 Call ID: call_15FFX2ZhIs1tCwLZyJZmaPN7
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_EWgBPNdobbTcXDPfzuFeOdyA)
 Call ID: call_EWgBPNdobbTcXDPfzuFeOdyA
  Args:
    table_names: Album, InvoiceLine, Invoice
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_6xik05iRiApb68qNh57jTF0B)
 Call ID: call_6xik05iRiApb68qNh57jTF0B
  Args:
    table_names: Track
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_YrTDtizkpIEnUWjDvVBW5ApL)
 Call ID: call_YrTDtizkpIEnUWjDvVBW5ApL
  Args:
    query: SELECT Album.Title, COUNT(InvoiceLine.InvoiceLineId) AS Popularity FROM Album JOIN Track ON Album.AlbumId = Track.AlbumId JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId GROUP BY Album.AlbumId ORDER BY Popularity DESC LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query_checker

The provided SQL query does not exhibit any of the common mistakes listed. Here is the original query, which seems correct:

```sql
SELECT Album.Title, COUNT(InvoiceLine.InvoiceLineId) AS Popularity
FROM Album
JOIN Track ON Album.AlbumId = Track.AlbumId
JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId
GROUP BY Album.AlbumId
ORDER BY Popularity DESC
LIMIT 10;
```

This query should work as intended in SQLite.
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_NDhwaIIQ0SBX6dVcYGHIMuli)
 Call ID: call_NDhwaIIQ0SBX6dVcYGHIMuli
  Args:
    query: SELECT Album.Title, COUNT(InvoiceLine.InvoiceLineId) AS Popularity FROM Album JOIN Track ON Album.AlbumId = Track.AlbumId JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId GROUP BY Album.AlbumId ORDER BY Popularity DESC LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query

[('Minha Historia', 27), ('Greatest Hits', 26), ('Unplugged', 25), ('Acústico', 22), ('Greatest Kiss', 20), ('My Generation - The Very Best Of The Who', 19), ('Chronicle, Vol. 2', 19), ('Prenda Minha', 19), ('Battlestar Galactica (Classic), Season 1', 18), ('Acústico MTV', 18)]
================================== Ai Message ==================================

The 10 most popular albums are:

1. **Minha Historia** - 27 purchases
2. **Greatest Hits** - 26 purchases
3. **Unplugged** - 25 purchases
4. **Acústico** - 22 purchases
5. **Greatest Kiss** - 20 purchases
6. **My Generation - The Very Best Of The Who** - 19 purchases
7. **Chronicle, Vol. 2** - 19 purchases
8. **Prenda Minha** - 19 purchases
9. **Battlestar Galactica (Classic), Season 1** - 18 purchases
10. **Acústico MTV** - 18 purchases

In [19]:
example_query = "What are the 3 least popular songs?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

What are the 3 least popular songs?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_NUICqW5jTy2koOC9MPmZAE6d)
 Call ID: call_NUICqW5jTy2koOC9MPmZAE6d
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_M9hupSXNo0T3sx5uig6cifL6)
 Call ID: call_M9hupSXNo0T3sx5uig6cifL6
  Args:
    table_names: Track, InvoiceLine
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_srM3j6dc7T9wDOapr2QE03JW)
 Call ID: call_srM3j6dc7T9wDOapr2QE03JW
  Args:
    query: SELECT T.Name, COUNT(IL.InvoiceLineId) AS PurchaseCount FROM Track T LEFT JOIN InvoiceLine IL ON T.TrackId = IL.TrackId GROUP BY T.TrackId ORDER BY PurchaseCount ASC, T.Name ASC LIMIT 3;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT T.Name, COUNT(IL.InvoiceLineId) AS PurchaseCount
FROM Track T
LEFT JOIN InvoiceLine IL ON T.TrackId = IL.TrackId
GROUP BY T.TrackId
ORDER BY PurchaseCount ASC, T.Name ASC
LIMIT 3;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_3hqqbk2tFPyR9VrljuX4IOcQ)
 Call ID: call_3hqqbk2tFPyR9VrljuX4IOcQ
  Args:
    query: SELECT T.Name, COUNT(IL.InvoiceLineId) AS PurchaseCount FROM Track T LEFT JOIN InvoiceLine IL ON T.TrackId = IL.TrackId GROUP BY T.TrackId ORDER BY PurchaseCount ASC, T.Name ASC LIMIT 3;
================================= Tool Message =================================
Name: sql_db_query

[('"40"', 0), ('"Eine Kleine Nachtmusik" Serenade In G, K. 525: I. Allegro', 0), ('#1 Zero', 0)]
================================== Ai Message ==================================

The 3 least popular songs, based on their purchase counts, are:

1. "40" (0 purchases)
2. "\"Eine Kleine Nachtmusik\" Serenade In G, K. 525: I. Allegro" (0 purchases)
3. "#1 Zero" (0 purchases)

In [20]:
example_query = "Are there any Brazilian customers?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Are there any Brazilian customers?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_EWgBPNdobbTcXDPfzuFeOdyA)
 Call ID: call_EWgBPNdobbTcXDPfzuFeOdyA
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_15FFX2ZhIs1tCwLZyJZmaPN7)
 Call ID: call_15FFX2ZhIs1tCwLZyJZmaPN7
  Args:
    table_names: Customer
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_Jln1YQh27TuhClMBoZ6GHTn6)
 Call ID: call_Jln1YQh27TuhClMBoZ6GHTn6
  Args:
    query: SELECT FirstName, LastName, Email FROM Customer WHERE Country = 'Brazil' LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT FirstName, LastName, Email
FROM Customer
WHERE Country = 'Brazil'
LIMIT 5;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_SKAOJinPnPMdpN6POQZh5LLV)
 Call ID: call_SKAOJinPnPMdpN6POQZh5LLV
  Args:
    query: SELECT FirstName, LastName, Email FROM Customer WHERE Country = 'Brazil' LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query

[('Luís', 'Gonçalves', 'luisg@embraer.com.br'), ('Eduardo', 'Martins', 'eduardo@woodstock.com.br'), ('Alexandre', 'Rocha', 'alero@uol.com.br'), ('Roberto', 'Almeida', 'roberto.almeida@riotur.gov.br'), ('Fernanda', 'Ramos', 'fernadaramos4@uol.com.br')]
================================== Ai Message ==================================

Yes, there are Brazilian customers. Here are some of them:

1. Luís Gonçalves - luisg@embraer.com.br
2. Eduardo Martins - eduardo@woodstock.com.br
3. Alexandre Rocha - alero@uol.com.br
4. Roberto Almeida - roberto.almeida@riotur.gov.br
5. Fernanda Ramos - fernadaramos4@uol.com.br

In [21]:
example_query = "Are there any customers from Yemen?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Are there any customers from Yemen?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_Lknex7JvISDQH00KaucCvxFI)
 Call ID: call_Lknex7JvISDQH00KaucCvxFI
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_F2hC5IYtEfAsNUcJGkg5j0vg)
 Call ID: call_F2hC5IYtEfAsNUcJGkg5j0vg
  Args:
    table_names: Customer
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_P23eHLVRZCCr8S1AOxkt3evm)
 Call ID: call_P23eHLVRZCCr8S1AOxkt3evm
  Args:
    query: SELECT FirstName, LastName FROM Customer WHERE Country = 'Yemen' LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT FirstName, LastName FROM Customer WHERE Country = 'Yemen' LIMIT 5;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_yNtEsunmncC9diDU3n3jLojb)
 Call ID: call_yNtEsunmncC9diDU3n3jLojb
  Args:
    query: SELECT FirstName, LastName FROM Customer WHERE Country = 'Yemen' LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query


================================== Ai Message ==================================

There are no customers from Yemen in the database.

In [22]:
example_query = "Who are the top 3 and the bottom 3 media types?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Who are the top 3 and the bottom 3 media types?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_JSlXLEtzQBp5UROS6pANlLC6)
 Call ID: call_JSlXLEtzQBp5UROS6pANlLC6
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_jZQD4a57ljKep2b3hBumdRzr)
 Call ID: call_jZQD4a57ljKep2b3hBumdRzr
  Args:
    table_names: MediaType, Track
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_yQpZolityksYzHvR7qBsE1Ey)
 Call ID: call_yQpZolityksYzHvR7qBsE1Ey
  Args:
    query: SELECT MediaType.Name, COUNT(Track.TrackId) as TrackCount FROM MediaType LEFT JOIN Track ON MediaType.MediaTypeId = Track.MediaTypeId GROUP BY MediaType.MediaTypeId ORDER BY TrackCount DESC LIMIT 3
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT MediaType.Name, COUNT(Track.TrackId) as TrackCount
FROM MediaType
LEFT JOIN Track ON MediaType.MediaTypeId = Track.MediaTypeId
GROUP BY MediaType.MediaTypeId
ORDER BY TrackCount DESC
LIMIT 3;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_15FFX2ZhIs1tCwLZyJZmaPN7)
 Call ID: call_15FFX2ZhIs1tCwLZyJZmaPN7
  Args:
    query: SELECT MediaType.Name, COUNT(Track.TrackId) as TrackCount FROM MediaType LEFT JOIN Track ON MediaType.MediaTypeId = Track.MediaTypeId GROUP BY MediaType.MediaTypeId ORDER BY TrackCount DESC LIMIT 3
================================= Tool Message =================================
Name: sql_db_query

[('MPEG audio file', 3034), ('Protected AAC audio file', 237), ('Protected MPEG-4 video file', 214)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_oEZGYyRUhPX3EhiYSGXRQOQQ)
 Call ID: call_oEZGYyRUhPX3EhiYSGXRQOQQ
  Args:
    query: SELECT MediaType.Name, COUNT(Track.TrackId) as TrackCount FROM MediaType LEFT JOIN Track ON MediaType.MediaTypeId = Track.MediaTypeId GROUP BY MediaType.MediaTypeId ORDER BY TrackCount ASC LIMIT 3
================================= Tool Message =================================
Name: sql_db_query_checker

The original query does not contain any of the common mistakes listed. Here is the final SQL query:

```sql
SELECT MediaType.Name, COUNT(Track.TrackId) as TrackCount
FROM MediaType
LEFT JOIN Track ON MediaType.MediaTypeId = Track.MediaTypeId
GROUP BY MediaType.MediaTypeId
ORDER BY TrackCount ASC
LIMIT 3;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_HiM2I4PEij11GNbWcSolK45W)
 Call ID: call_HiM2I4PEij11GNbWcSolK45W
  Args:
    query: SELECT MediaType.Name, COUNT(Track.TrackId) as TrackCount FROM MediaType LEFT JOIN Track ON MediaType.MediaTypeId = Track.MediaTypeId GROUP BY MediaType.MediaTypeId ORDER BY TrackCount ASC LIMIT 3
================================= Tool Message =================================
Name: sql_db_query

[('Purchased AAC audio file', 7), ('AAC audio file', 11), ('Protected MPEG-4 video file', 214)]
================================== Ai Message ==================================

The top 3 media types are:

1. **MPEG audio file** with 3034 tracks
2. **Protected AAC audio file** with 237 tracks
3. **Protected MPEG-4 video file** with 214 tracks

The bottom 3 media types are:

1. **Purchased AAC audio file** with 7 tracks
2. **AAC audio file** with 11 tracks
3. **Protected MPEG-4 video file** with 214 tracks